<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Cambiar Contraseña</title>
</head>

<body>
  <form action="/api/actualizar-contrasenia" method="post">
    
    <ul>
     
      <input type="hidden" id="email" name="email" value={{ email }} >
      <li>
        <label for="newPass">Nueva Contraseña:</label>
        <input type="password" id="newPass" name="newPass">
      </li>
      <li>
        <label for="confirmPass">Confirmar Contraseña:</label>
        <input type="password" id="confirmPass" name="confirmPass">
      </li>
      <li class="button">
        <button type="submit">Confirmar</button>
      </li>
 </ul>

  </form>

</body>

</html>